@layer components {
  .app-body {
    background-color: var(--color-bg-body);
    display: grid;
    grid-template:
      "header" auto
      "nav" auto
      "main" 1fr
      "footer" auto;
    min-height: 100vh;
    & > * {
      padding: 1rem;
    }
  }

  @media (width >= 40rem) {
    .app-body {
      grid-template:
        "header header" auto
        "nav main" 1fr
        "footer footer" auto / auto 1fr;
    }
  }  

  .app-footer {
    background-color: var(--color-bg-footer);
    color: var(--color-txt-footer);
    grid-area: footer;
  }

  .app-header {
    background-color: var(--color-bg-header);
    color: var(--color-txt-header);
    grid-area: header;
  }

  .app-main {
    background-color: var(--color-bg-main);
    color: var(--color-txt-main);
    grid-area: main;
  }

  .app-nav {
    background-color: var(--color-bg-nav);
    color: var(--color-txt-nav);
    grid-area: nav;
    & li {
      font-weight: normal;
      padding-top: 1rem;
    }
    & > ul > li:first-child {
      padding-top: 0;
    }
    & li[selected] {
      font-weight: bold;
    }
    & li[selected] ul ul {
      display: none;
    }
    & li ul {
      margin-left: 1rem;
    }
    & li:has(li[selected]) {
      font-weight: bold;
    }
    & li:not(:has(li[selected])) ul {
      display: none;
    }
    & li[selected] > ul {
      display: block !important;
    }
  }
}