@layer components {
  .app-nav {
    background-color: var(--color-bg-nav);
    color: var(--color-txt-nav);
    grid-area: nav;
    & li {
      font-weight: normal;
      padding-top: var(--padding-default);
    }
    & > ul > li:first-child {
      padding-top: 0;
    }
    & li[selected] {
      font-weight: bold;
    }
    & li[selected] ul ul {
      display: none;
    }
    & li ul {
      margin-left: var(--padding-default);
    }
    & li:has(li[selected]) {
      font-weight: bold;
    }
    & li:not(:has(li[selected])) ul {
      display: none;
    }
    & li[selected] > ul {
      display: block !important;
    }
  }
}