@layer base {
  body > * {
    padding: 1rem;
  }

  nav li {
    font-weight: normal;
    padding-top: 1rem;
  }

  nav > ul > li:first-child {
    padding-top: 0;
  }

  nav li[selected] {
    font-weight: bold;
  }

  nav li[selected] ul ul {
    display: none;
  }

  nav li ul {
    margin-left: 1rem;
  }

  nav li:has(li[selected]) {
    font-weight: bold;
  }

  nav li:not(:has(li[selected])) ul {
    display: none;
  }

  nav li[selected] > ul {
    display: block !important;
  }
}