@layer components {
  .app-nav {
    background-color: var(--color-bg-nav);
    color: var(--color-txt-nav);
    grid-area: nav;
    & ul {
      & li {
        font-weight: normal;
        padding-top: var(--padding-default);
        & ul {
          margin-left: var(--padding-default);
        }
        &[data-selected] {
          font-weight: bold;
          & ul {
            & ul {
              display: none;
            }
          }
          & > ul {
            display: block !important;
          }
        }
        &:has(li[data-selected]) {
          font-weight: bold;
        }
        &:not(:has(li[data-selected])) {
          & ul {
            display: none;
          }
        }
      }
    }
    & > ul {
      & > li {
        &:first-child {
          padding-top: 0;
        }
      }
    }
  }
}
